<div class="home">
    <div class="home_div-one">
        <div class="home_div-one_menu">
            <div>Home</div>
            <div>About Us</div>
            <div>Team</div>
            <div>Services</div>
            <div>Shop</div>
            <div>Blogs</div>
            <div>Contact Us</div>
        </div>
        <div class="home_div-one_banner">
            <img class="home_div-one_banner_img-two" src="assets/img/img2.jpg" >
            <svg class="home_div-one_banner_shape-one" viewBox="0 0 61 61" xmlns="http://www.w3.org/2000/svg">
                <path d="M30.5 0L34.4251 26.5749L61 30.5L34.4251 34.4251L30.5 61L26.5749 34.4251L0 30.5L26.5749 26.5749L30.5 0Z"></path>
            </svg>
            <div class="home_div-one_text">
                Skincare is Like A Workout For Your Skin
                <div class="home_div-one_text_subtext">
                    Experienced staff is dedicated to improving our patients’ dental health and enhancing
                </div>
                <div class="home_div-one_text_appointment">
                    Appointment
                </div>
            </div>
            <img src="assets/img/img1.png">
        </div>
    </div>
</div>